        #danger{
            /*border-color:solid red;*/
            color:red;
            background-color: white;
        }
        #danger:hover{
            background-color: #f44336;
            color: white;
        }

        @media only screen and (max-width:768px){
            #menu{
               width: 45%;
               float: left;
               padding: 20px;
               padding-left: 52px;
               margin-top: 5%;
           }
           #main{
             width: 45%;
             float: left;
             padding: 10px;
             margin-left: 14%;
             margin-top: 5%;
         }

     }





     /* banner */
     .mian-content-wthree {
        background: url() no-repeat top;


        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 50vw;
        z-index: 1;
        position: relative;
    }

    /* banner text */
    .style-banner {
        padding-top: 1em;
        max-width: 800px;
    }

    .style-banner h3 {
        font-size: 26px;
        letter-spacing: 1px;
    }
    .style-banner h3 span {
        color: #db2340;
        background: #fff;
        padding: 0px 17px 5px;
        font-size:  30px;
    }
    .style-banner p {    
      font-size: 11px;
      letter-spacing: 1px;
  }

  /* //banner text */
  /* form */
  .home-form-w3ls select.form-control {
    font-size: 15px;
    border: none;
    -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.28);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.28);
    outline: none;
    letter-spacing: 1px;
    color: #5f5d5d;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 46px !important;
    cursor: pointer;
}

.home-form-w3ls button {
    background: #db2340;
    color: #fff;
    padding: 13px 40px;
    margin-top: 2em;
    border: none;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* //form */
/* //banner */

/* bannner bottom */
h3.title-w3 {
    font-size: 42px;
}

h3.title-w3 span {
    color: #ff6b6b;
}

h3.title-sub {
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 1px;
}

h3.title-sub span {
    display: block;
}

