@import "bourbon"

$white: #FFFFFF
$black: #000000
$accent: #EF3B3A

$form-width: 300px
  
/* Form */
.form
  position: relative
  z-index: 1
  background: $white
  max-width: $form-width
  margin: 0 auto 100px
  padding: 30px
  +border-top-radius(3px)
  +border-bottom-radius(3px)
  text-align: center
  .thumbnail
    background: $accent
    width: 150px
    height: 150px
