for home page 
/*
@media only screen and (max-width:768px){
  .hm-menu{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .hm-menu span{
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 1px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
  }

  .left{
    margin-bottom: 15px;
  }

  .hm-menu span:nth-child(1){
    width: 40%;
    top: 8px;
  }

  .hm-menu span:nth-child(2){
    width: 60%;
    top: calc(50% - 1px);
  }

  .hm-menu span:nth-child(3){
    width: 50%;
    top: calc(100% - 10px);
  }

  .container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  nav ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav ul li{
    margin: 0;
  }

  nav ul li a{
    font-size: 22px;
    height: 60px;
    line-height: 60px;
    text-transform: capitalize;
    letter-spacing: 2px;
    overflow: visible;
  }

  nav ul li a::before{
    content: '';
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 600;
    color: #333;
    z-index: -1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
  }

  nav ul li:hover:nth-child(1) a::before{
    content: 'HOME';
    font-size: 100px;
  }

  nav ul li:hover:nth-child(2) a::before{
    content: 'SERVICES';
    font-size: 100px;
  }

  nav ul li:hover:nth-child(3) a::before{
    content: 'ABOUT';
    font-size: 100px;
  }

  nav ul li:hover:nth-child(4) a::before{
    content: 'PORTFOLIO';
    font-size: 100px;
  }

  nav ul li:hover:nth-child(5) a::before{
    content: 'CONTACT';
    font-size: 100px;
  }

  nav ul li a:hover{
    color: transparent;
  }

  nav ul li a::after{
    display: none;
  }

  header.active{
    height: 380px;
  }

  .hm-menu span.active{
    width: 100%!important;
  }

  .activex{
    transition-delay: .5s;
  }


  .hero-section{
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hero-section h1{
    font-size: 30px;
    font-weight: 200;
    /*text-transform: uppercase;*/
    color: #fff;
  }

  .hero-section p{
    text-transform: capitalize;
    font-size: 16px;
    color: #a1a2a3;
  }

  .post_Room_btn{

    border-color: #f44336;
    color: red;
    position: absolute;
    top: 40%;
    left: 30%;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  .Find_Room_btn{

    border-color: #f44336;
    color: red;
    position: absolute;
    top: 40%;
    left: 70%;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  .Find_Room_btn {
    border-color: #f44336;
    color: red
  }


  .Find_Room_btn:hover {
    background: #f44336;
    color: white;
  }

  .post_Room_btn {
    border-color: #f44336;
    color: red
  }


  .post_Room_btn:hover {
    background: #f44336;
    color: white;
  }

}
*/
